.App {
  display: block;

}


.card {
  width: 500px;
  background-color: black;
  border: 4px dotted blue;
  margin: 10px;
  padding: 10px;
  height: auto;
  
  height: 460px;
  
  width: 305px;
 
 float: left;
 
}

 

 .card-text{
  font-family: font-basic;
  color:blanchedalmond;
  font-size: 2m;
  align-self: center;
  }

 

